body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  width: 90%;
  max-width: 400px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 95%;
  padding: 12px;
  background: #ff7f7f;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

#chatBox {
  height: 150px;
  border: 1px solid #ddd;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.resetBtn {
  background: #999;
}